<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo" text="back"></ion-back-button>
    </ion-buttons>
    <ion-title>The Latest Technology News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-app>
    <ion-content>
      <ion-card *ngFor="let techNews of technologyData">
        <a href="{{techNews.url}}">
        <img width="700" height="450" src="{{techNews.urlToImage}}"/>
        </a>
        <ion-card-header>         
          <ion-card-title>{{techNews.title}}</ion-card-title>
          <ion-card-subtitle>{{techNews.author}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{techNews.description}}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>


</ion-content>
